<h2>Contact me</h2>
{{#if isError}}
<div class="isError">
Something went wrong!
</div>
{{/if}}
{{#if isSent}}
<div class="isSent">
Your message has been sent!
File {{fileName}} has been sent!
</div>
{{/if}}
<form action="/contact/send-message" method="POST" enctype="multipart/form-data">
    <label>
        Your name: <input type="text" name="author">
    </label>
    <label>
        Your email: <input type="email" name="sender">
    </label>
    <label>
        Title: <input type="text" name="title">
    </label>
    <label>
        File: <input type="file" name="image" accept="image/png, image/gif, image/jpeg, image/jpg"></input>
    </label>
    <label>
        Message: <textarea name="message"></textarea>
    </label> 
    <button type="submit">Send message</button>
</form>